**/node_modules
**/dist
**/coverage
.git
.gitignore
.env
.env.*
!.env.example
*.md
**/*.spec.ts
**/*.e2e-spec.ts
**/*.test.ts
.vscode
.idea
**/Dockerfile
**/.dockerignore
**/docker-compose*.yml
npm-debug.log
yarn-error.log
site/.storybook
server/test
server/coverage