# Сервер
APP_PORT=4567
HASH_SALT=10
NODE_ENV=development

# JWT
JWT_ACCESS_SECRET=c514ffa20a24389e710ef9117c3c8983bd4d67d31ba12e08555ce84b45406170
JWT_REFRESH_SECRET=6d45073d749bcc07e3dd37efa9dd7a6d2ad1d19e98bc10bb901929b87718177f
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d

# База данных (PostgreSQL)
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=1234
DB_NAME=skillswap
DB_SYNCHRONIZE=true

# Логирование
LOGGER_TYPE=dev

# S3
S3_REGION=ru-1
S3_ACCESS_KEY_ID=your_access_key
S3_SECRET_ACCESS_KEY=your_secret_key
S3_ENDPOINT=https://s3.twcstorage.ru
S3_BUCKET_NAME=your-bucket-name

# Безопасность
# CORS_ORIGINS: список разрешённых origin через запятую (IP, localhost, хостнеймы или полные URL)
# Примеры: localhost, 127.0.0.1, example.com, http://localhost:3000, https://app.example.com
CORS_ORIGINS=localhost,127.0.0.1,http://localhost:3000
# THROTTLE_TTL — окно Rate Limiting в секундах
THROTTLE_TTL=60
# THROTTLE_LIMIT — максимальное число запросов в окне
THROTTLE_LIMIT=100

# SMTP UniSender Go
MAIL_HOST=smtp.go2.unisender.ru
MAIL_PORT=587
MAIL_SECURE=false
MAIL_USER=your_user_id
MAIL_PASSWORD=your_api_key
MAIL_FROM='"No Reply" <noreply@example.com>'

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379